@import 'https://fonts.googleapis.com/css?family=Lora';

body {

	background-color: #c1eff7;

}

img{display:block;
margin: auto;
}
h1 {
	color: brown;

	color: #4F2806;
	
	font-family: 'Lora', serif;
	font-size: 67px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;

}
p{
	color: brown;

	color: #4F2806;
	
	font-family: 'Lora', serif;
	font-variant: normal;
	font-weight: 100;


}